@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

nav {
    background-color: black !important;
    color: white !important;
}

#main-part {
    /* background: url(hero.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 664px !important; */
}

#main-part h3 {
    color: #f30000 !important;
    font-family: 'Montserrat', sans-serif;
}